.cashflow-card .card-toolbar p {
	margin-bottom: 0 !important;
	margin-right: 5px;
}
.cashflow-card #filter-form {
    display: flex;
    align-items: center;
}
.field-cashflow-user_id {
    display: flex;
    margin-bottom: 0 !important;
    align-items: center;
}
.field-cashflow-user_id label {
    display: inline-block;
    margin-bottom: 0; 
    text-wrap: nowrap;
	margin-right: 5px;
    font-weight: 500;
}
.bootstrap-select button {
	min-width: 200px;
}
.apexcharts-canvas {
    background: #fff;
}
@media only screen and (max-width: 426px) {
    .cashflow-card #filter-form {
        flex-wrap: wrap;
    }
    .date-range-search {
        margin: 0 auto;
    }
    button[data-id="cashflow-user_id"] {
        margin-left: 4px;
        width: 212px !important;
    }
    .field-cashflow-user_id {
        margin-top: 5px;
    }
    .cashflow-card .total-container {
        text-align: center;
        padding: 20px;
    }
}